openapi: 3.0.0
info:
  contact:
    email: quang.huynh@gotit.vn
  description: Technical document APIs for API Version 4.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: Sample API
  version: 4.0.0
servers:
- description: API BIZ Version 4 Staging
  url: https://api-biz-stg.gotit.vn
tags:
- description: Brands
  name: Brands
- description: Categories
  name: Categories
- description: Products
  name: Products
- description: Voucher Status
  name: Voucher Status
- description: Voucher
  name: Voucher
- description: Voucher Send Method
  name: Voucher Send Method
paths:
  /api/v4.0/brands:
    get:
      description: Retrieve a list of brands
      operationId: getListOfBrands
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BRANDS_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Get list of brands
      tags:
      - Brands
      x-accepts:
      - application/json
  /api/v4.0/brands/{id}:
    get:
      description: Returns brand detail data master
      operationId: getDetailOfBrand
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      - description: Brand Id
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 46
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BRAND_DETAIL_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Get brand detail
      tags:
      - Brands
      x-accepts:
      - application/json
  /api/v4.0/brands/brandsByProducts:
    get:
      description: Returns brand detail data master
      operationId: brandsByProducts
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BRAND_DETAIL_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Get brand by product
      tags:
      - Brands
      x-accepts:
      - application/json
  /api/v4.0/categories:
    get:
      description: Returns all categories data master
      operationId: getListOfCategories
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CATEGORIES_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Get lists category
      tags:
      - Categories
      x-accepts:
      - application/json
  /api/v4.0/categories/categoriesByProducts:
    get:
      description: Returns all categories data master
      operationId: getCategoryByProduct
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CATEGORIES_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Get category by product
      tags:
      - Categories
      x-accepts:
      - application/json
  /api/v4.0/products:
    get:
      description: Returns all products master data
      operationId: getListOfProducts
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      - description: Page
        explode: true
        in: query
        name: page
        required: true
        schema:
          example: 1
          type: integer
        style: form
      - description: Page Size
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          example: 200
          type: integer
        style: form
      - description: Min price
        explode: true
        in: query
        name: minPrice
        required: false
        schema:
          example: 1000
          type: integer
        style: form
      - description: Max price
        explode: true
        in: query
        name: maxPrice
        required: false
        schema:
          example: 10000000
          type: integer
        style: form
      - description: Stores
        explode: true
        in: query
        name: isExcludeStoreListInfo
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Store Page
        explode: true
        in: query
        name: storeListPage
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Store Page Size
        explode: true
        in: query
        name: storeListPageSize
        required: false
        schema:
          example: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PRODUCTS_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Get all products master data
      tags:
      - Products
      x-accepts:
      - application/json
  /api/v4.0/products/{id}:
    get:
      description: Returns product detail data
      operationId: getProductDetail
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      - description: Product ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1541
          type: integer
        style: simple
      - description: Exclude store list information
        explode: true
        in: query
        name: isExcludeStoreListInfo
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Store Page
        explode: true
        in: query
        name: storeListPage
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Store Page Size
        explode: true
        in: query
        name: storeListPageSize
        required: false
        schema:
          example: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PRODUCT_DETAIL_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Get product detail data
      tags:
      - Products
      x-accepts:
      - application/json
  /api/v4.0/products/{id}/stores:
    get:
      description: Returns all stores of this product
      operationId: getStoresOfProduct
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      - description: Product ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1541
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/STORES_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Get stores of this product
      tags:
      - Products
      x-accepts:
      - application/json
  /api/v4.0/vouchers/multiple/status/{refId}:
    get:
      description: Check voucher status
      operationId: checkVoucher
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      - description: Transaction RefId
        explode: false
        in: path
        name: refId
        required: true
        schema:
          example: voucher_0711_102
          type: string
        style: simple
      - description: Exclude store list information
        explode: true
        in: query
        name: isExcludeStoreListInfo
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Store Page
        explode: true
        in: query
        name: storeListPage
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Store Page Size
        explode: true
        in: query
        name: storeListPageSize
        required: false
        schema:
          example: 200
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VOUCHER_CHECK_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Check voucher status
      tags:
      - Voucher Status
      x-accepts:
      - application/json
  /api/v4.0/vouchers/v:
    post:
      description: Create voucher link v
      operationId: createVoucherLinkV
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/REQUEST_CREATE_VOUCHER_LINK_V'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VOUCHER_V_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Create voucher link v
      tags:
      - Voucher
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v4.0/vouchers/g:
    post:
      description: Create voucher link g
      operationId: createVoucherLinkG
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/REQUEST_CREATE_VOUCHER_LINK_G'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VOUCHER_G_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Create voucher link g
      tags:
      - Voucher
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v4.0/vouchers/send/email:
    post:
      description: Send voucher by mail
      operationId: sendVoucherByEmail
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/REQUEST_SEND_VOUCHER_BY_EMAIL'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VOUCHER_SEND_EMAIL_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Send voucher by mail
      tags:
      - Voucher Send Method
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v4.0/vouchers/send/sms:
    post:
      description: Send voucher by sms
      operationId: sendVoucherBySMS
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/REQUEST_SEND_VOUCHER_BY_SMS'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VOUCHER_SEND_SMS_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Send voucher by sms
      tags:
      - Voucher Send Method
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v4.0/vouchers/send/zns:
    post:
      description: Send voucher by zns
      operationId: sendVoucherByZNS
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/REQUEST_SEND_VOUCHER_BY_ZNS'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VOUCHER_SEND_ZNS_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Send voucher by zns
      tags:
      - Voucher Send Method
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v4.0/vouchers/send/zns/check:
    post:
      description: Check status zns
      operationId: checkStatusZNS
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/REQUEST_CHECK_STATUS_ZNS'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VOUCHER_CHECK_ZNS_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Check status zns
      tags:
      - Voucher Send Method
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v4.0/vouchers/e:
    post:
      description: Create voucher link e
      operationId: createVoucherLinkE
      parameters:
      - description: Authorization
        explode: false
        in: header
        name: X-GI-Authorization
        required: true
        schema:
          example: API key GotIt provided
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/REQUEST_CREATE_VOUCHER_LINK_E'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VOUCHER_E_RESPONSE'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_BAD_REQUEST'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_UNAUTHORIZED'
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_NOT_FOUND'
          description: Request not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_INTERNAL_SERVER_ERROR'
          description: System error
      summary: Create voucher link e
      tags:
      - Voucher
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    general--header:
      description: Authorization
      explode: false
      in: header
      name: X-GI-Authorization
      required: true
      schema:
        example: API key GotIt provided
        type: string
      style: simple
  schemas:
    REQUEST_SEND_VOUCHER_BY_EMAIL:
      properties:
        voucherLinkCode:
          example: 1gEGcntd
          type: string
        email:
          example: quang.huynh@gotit.vn
          type: string
        receiverNm:
          example: Got It
          type: string
        senderNm:
          example: Got It
          type: string
        message:
          example: Have a good day
          type: string
      required:
      - email
      - voucherLinkCode
      type: object
    REQUEST_SEND_VOUCHER_BY_SMS:
      properties:
        voucherLinkCode:
          example: 1gEGcntd
          type: string
        phoneNo:
          example: "0394162063"
          type: string
        receiverNm:
          example: Got It
          type: string
        senderNm:
          example: Got It
          type: string
      required:
      - phoneNo
      - voucherLinkCode
      type: object
    REQUEST_SEND_VOUCHER_BY_ZNS:
      properties:
        phoneNo:
          example: "0394162063"
          type: string
        receiverNm:
          example: Got It
          type: string
        voucherSerials:
          items:
            example: "1234567890123456"
            type: string
          type: array
        transactionId:
          example: transactionID
          type: string
      required:
      - phoneNo
      - transactionId
      - voucherSerials
      type: object
    REQUEST_CHECK_STATUS_ZNS:
      properties:
        transactionId:
          example: transactionID
          type: string
      type: object
    REQUEST_CREATE_VOUCHER_LINK_V:
      properties:
        productId:
          description: "Product id. You can see the Products section for the product\
            \ id. Note: productId type auto convert merchant code does not support\
            \ creating cover links."
          example: 1541
          type: integer
        productPriceId:
          description: Product price id. Each product will have 1 or more denomination
            codes corresponding to the value or converted product size.
          example: 2991
          type: integer
        quantity:
          description: Number of vouchers to be issued
          example: 1
          type: integer
        orderName:
          description: "Please don't use the voucher recipient or the content changes\
            \ daily or frequently. Owl French: Customers specified name + [Month]\
            \ + [Year] Example: Got It Promotion - Jul 2019"
          example: Got It Promotion - Jul 2023
          type: string
        expiryDate:
          description: "Voucher expiration date. Syntax 'YYYY-MM-DD'. The expiration\
            \ date is specified specified in the contract between the partner and\
            \ Got It, usually 3 months from the release date, maximum 12 months."
          example: 2024-11-15
          type: string
        transactionRefId:
          description: "Transaction code receive from the customer request, used for\
            \ comparison and reconciliation. If the transaction fails, after 5 mintegerues,\
            \ you can use this transmitted transactionRefID to request again. Maximum\
            \ 255 characters. Format of transactionRefId: prefix + '_' + character\
            \ string In which: + prefix: string of 06 integer characters provided\
            \ by Got It. + character string: string actively generated by clients\
            \ Example: prefix: '000742' character string: '20220126-6f823f2e' => transactionRefId:\
            \ '000742_20220126-6f823f2e'"
          example: 1000007_123abc
          type: string
        use_otp:
          description: "= 1 if the end user is required to enter a password to view\
            \ the voucher. Example: 1"
          example: 1
          type: integer
        otp_type:
          description: "= 1 if OTP is sent via phone number; = 7 if OTP is sent via\
            \ email; = 8 if password Password is a fixed number - passed in param\
            \ 'password' For example: 1"
          example: 1
          type: integer
        password:
          description: "Fixed password (corresponding to otp_type=8 passed in parram\
            \ 'otp_type'. For otp_type = 1 or 7 do not need to be passed integero\
            \ this field). Format requirement: 6 consecutive integer characters Example:\
            \ '325243'"
          example: "123456"
          type: string
        receiver_name:
          description: "Voucher recipient name Example: Son Tran"
          example: Quang Huynh
          type: string
        phone:
          description: "Phone number to receive the voucher. This is only the step\
            \ to identify the phone number that will receive the voucher. This step\
            \ has not been completed yet. Sending vouchers, sending vouchers via SMS\
            \ will be a separate API section. This phone number is also used to receive\
            \ OTP when the end-user opens the voucher link, respectively otp_type\
            \ = 1. Request format: 10 consecutive integer characters. For example:\
            \ 0909xxxxxx"
          example: "0394162063"
          type: string
        email:
          description: "Email to receive the voucher. This is just the step to identify\
            \ the email address that will receive the voucher. This step does not\
            \ include sending the voucher, sending the voucher via email will be a\
            \ separate API section. This email address is also used to receive OTP\
            \ when the end-user opens the voucher link, corresponding to otp_type\
            \ = 7 . For example: son.tran@ dayone.vn"
          example: quang.huynh@gotit.vn
          type: string
        signature:
          description: "RSA encryption, used for client authentication"
          example: 1gEGcntd
          type: string
        activeDate:
          description: "Voucher validity start date, validity date must be greater\
            \ than issue date. Format: 'YYYY-MM-DD'. Note: before this date, the voucher\
            \ will be in Inactive status and cannot be used."
          example: ""
          type: string
        isConvertToCoverLink:
          description: "Type of voucher link to be issued: If = 0 (default): Create\
            \ voucher link. If = 1: Create cover link for voucher link."
          example: 1
          type: integer
      required:
      - expiryDate
      - orderName
      - productId
      - productPriceId
      - quantity
      - quantity
      - transactionRefId
      type: object
    REQUEST_CREATE_VOUCHER_LINK_E:
      properties:
        orderName:
          description: "Please don't use the voucher recipient or the content changes\
            \ daily or frequently. Owl French: Customers specified name + [Month]\
            \ + [Year] Example: Got It Promotion - Jul 2019"
          example: Got It Promotion - Jul 2023
          type: string
        transactionRefId:
          description: "Transaction code receive from the customer request, used for\
            \ comparison and reconciliation. If the transaction fails, after 5 mintegerues,\
            \ you can use this transmitted transactionRefID to request again. Maximum\
            \ 255 characters. Format of transactionRefId: prefix + '_' + character\
            \ string In which: + prefix: string of 06 integer characters provided\
            \ by Got It. + character string: string actively generated by clients\
            \ Example: prefix: '000742' character string: '20220126-6f823f2e' => transactionRefId:\
            \ '000742_20220126-6f823f2e'"
          example: 1000007_123abc
          type: string
        amount:
          description: "+ Voucher value. Ensures the following conditions: + Is a\
            \ multiple of 1000 + Is within the price range minimum - maximum value\
            \ that the partner and Got It have agreed upon."
          example: 100000
          type: integer
        expiryDate:
          description: "Voucher expiration date. Syntax 'YYYY-MM-DD'. The expiration\
            \ date is specified specified in the contract between the partner and\
            \ Got It, usually 3 months from the release date, maximum 12 months."
          example: 2024-11-15
          type: string
        productId:
          description: + Product code. Specify the template displayed on the voucher
            (list of Categories and Brands). + If no transmission will use Got It's
            default productId
          example: 1541
          type: integer
        use_otp:
          description: "= 1 if the end user is required to enter a password to view\
            \ the voucher. Example: 1"
          example: 1
          type: integer
        otp_type:
          description: "= 1 if OTP is sent via phone number; = 7 if OTP is sent via\
            \ email; = 8 if password Password is a fixed number - passed in param\
            \ 'password' For example: 1"
          example: 1
          type: integer
        password:
          description: "Fixed password (corresponding to otp_type=8 passed in parram\
            \ 'otp_type'. For otp_type = 1 or 7 do not need to be passed integero\
            \ this field). Format requirement: 6 consecutive integer characters Example:\
            \ '325243'"
          example: "123456"
          type: string
        receiver_name:
          description: "Voucher recipient name Example: Son Tran"
          example: Quang Huynh
          type: string
        phone:
          description: "Phone number to receive the voucher. This is only the step\
            \ to identify the phone number that will receive the voucher. This step\
            \ has not been completed yet. Sending vouchers, sending vouchers via SMS\
            \ will be a separate API section. This phone number is also used to receive\
            \ OTP when the end-user opens the voucher link, respectively otp_type\
            \ = 1. Request format: 10 consecutive integer characters. For example:\
            \ 0909xxxxxx"
          example: "0394162063"
          type: string
        email:
          description: "Email to receive the voucher. This is just the step to identify\
            \ the email address that will receive the voucher. This step does not\
            \ include sending the voucher, sending the voucher via email will be a\
            \ separate API section. This email address is also used to receive OTP\
            \ when the end-user opens the voucher link, corresponding to otp_type\
            \ = 7 . For example: son.tran@ dayone.vn"
          example: quang.huynh@gotit.vn
          type: string
        signature:
          description: "RSA encryption, used for client authentication"
          example: 1gEGcntd
          type: string
      required:
      - amount
      - expiryDate
      - orderName
      - signature
      - transactionRefId
      - use_otp
      type: object
    REQUEST_CREATE_VOUCHER_LINK_G:
      properties:
        productList:
          items:
            $ref: '#/components/schemas/PRODUCT_DEFAULT_LINK_G'
          type: array
        orderName:
          description: "Please don't use the voucher recipient or the content changes\
            \ daily or frequently. Owl French: Customers specified name + [Month]\
            \ + [Year] Example: Got It Promotion - Jul 2019"
          example: Got It Promotion - Jul 2023
          type: string
        expiryDate:
          description: "Voucher expiration date. Syntax 'YYYY-MM-DD'. The expiration\
            \ date is specified specified in the contract between the partner and\
            \ Got It, usually 3 months from the release date, maximum 12 months."
          example: 2024-11-15
          type: string
        transactionRefId:
          description: "Transaction code receive from the customer request, used for\
            \ comparison and reconciliation. If the transaction fails, after 5 mintegerues,\
            \ you can use this transmitted transactionRefID to request again. Maximum\
            \ 255 characters. Format of transactionRefId: prefix + '_' + character\
            \ string In which: + prefix: string of 06 integer characters provided\
            \ by Got It. + character string: string actively generated by clients\
            \ Example: prefix: '000742' character string: '20220126-6f823f2e' => transactionRefId:\
            \ '000742_20220126-6f823f2e'"
          example: 1000007_123abc
          type: string
        use_otp:
          description: "= 1 if the end user is required to enter a password to view\
            \ the voucher. Example: 1"
          example: 1
          type: integer
        otp_type:
          description: "= 1 if OTP is sent via phone number; = 7 if OTP is sent via\
            \ email; = 8 if password Password is a fixed number - passed in param\
            \ 'password' For example: 1"
          example: 1
          type: integer
        password:
          description: "Fixed password (corresponding to otp_type=8 passed in parram\
            \ 'otp_type'. For otp_type = 1 or 7 do not need to be passed integero\
            \ this field). Format requirement: 6 consecutive integer characters Example:\
            \ '325243'"
          example: "123456"
          type: string
        receiver_name:
          description: "Voucher recipient name Example: Son Tran"
          example: Quang Huynh
          type: string
        phone:
          description: "Phone number to receive the voucher. This is only the step\
            \ to identify the phone number that will receive the voucher. This step\
            \ has not been completed yet. Sending vouchers, sending vouchers via SMS\
            \ will be a separate API section. This phone number is also used to receive\
            \ OTP when the end-user opens the voucher link, respectively otp_type\
            \ = 1. Request format: 10 consecutive integer characters. For example:\
            \ 0909xxxxxx"
          example: "0394162063"
          type: string
        email:
          description: "Email to receive the voucher. This is just the step to identify\
            \ the email address that will receive the voucher. This step does not\
            \ include sending the voucher, sending the voucher via email will be a\
            \ separate API section. This email address is also used to receive OTP\
            \ when the end-user opens the voucher link, corresponding to otp_type\
            \ = 7 . For example: son.tran@ dayone.vn"
          example: quang.huynh@gotit.vn
          type: string
      required:
      - expiryDate
      - orderName
      - productList
      - transactionRefId
      type: object
    PRODUCT_DEFAULT_LINK_G:
      properties:
        productId:
          description: "Product Id. You can see the Products section for the product\
            \ id. Note: productId type auto convert merchant code does not support\
            \ creating cover links."
          example: 1541
          type: integer
        productPriceId:
          description: Product price id. Each product will have 1 or more denomination
            codes corresponding to the value or converted product size.
          example: 2991
          type: integer
        quantity:
          description: Number of vouchers to be issued
          example: 1
          type: integer
      required:
      - productId
      - productPriceId
      - quantity
      type: object
    PRODUCT_VENDOR_LINK_G:
      properties:
        productId:
          description: "Product Id. You can see the Products section for the product\
            \ id. Note: productId type auto convert merchant code does not support\
            \ creating cover links."
          example: 2478
          type: integer
        productPriceId:
          description: Product price id. Each product will have 1 or more denomination
            codes corresponding to the value or converted product size.
          example: 10260
          type: integer
        quantity:
          description: Number of vouchers to be issued
          example: 1
          type: integer
      required:
      - productId
      - productPriceId
      - quantity
      type: object
    HTTP_BAD_REQUEST:
      example:
        data: "[]"
        error: HTTP_BAD_REQUEST
        message: Bad Request
        status: HTTP_BAD_REQUEST
        statusCode: 400
      properties:
        status:
          example: HTTP_BAD_REQUEST
          type: string
        statusCode:
          example: 400
          type: integer
        error:
          example: HTTP_BAD_REQUEST
          type: string
        message:
          example: Bad Request
          type: string
        data:
          example: "[]"
          items: {}
          type: array
      type: object
    HTTP_UNAUTHORIZED:
      example:
        data: "[]"
        error: HTTP_UNAUTHORIZED
        message: Unauthorized
        status: HTTP_UNAUTHORIZED
        statusCode: 401
      properties:
        status:
          example: HTTP_UNAUTHORIZED
          type: string
        statusCode:
          example: 401
          type: integer
        error:
          example: HTTP_UNAUTHORIZED
          type: string
        message:
          example: Unauthorized
          type: string
        data:
          example: "[]"
          items: {}
          type: array
      type: object
    HTTP_NOT_FOUND:
      example:
        data: "[]"
        error: HTTP_NOT_FOUND
        message: Not Found
        status: HTTP_NOT_FOUND
        statusCode: 404
      properties:
        status:
          example: HTTP_NOT_FOUND
          type: string
        statusCode:
          example: 404
          type: integer
        error:
          example: HTTP_NOT_FOUND
          type: string
        message:
          example: Not Found
          type: string
        data:
          example: "[]"
          items: {}
          type: array
      type: object
    HTTP_INTERNAL_SERVER_ERROR:
      example:
        data: "[]"
        error: HTTP_INTERNAL_SERVER_ERROR
        message: Internal Server Error
        status: HTTP_INTERNAL_SERVER_ERROR
        statusCode: 500
      properties:
        status:
          example: HTTP_INTERNAL_SERVER_ERROR
          type: string
        statusCode:
          example: 500
          type: integer
        error:
          example: HTTP_INTERNAL_SERVER_ERROR
          type: string
        message:
          example: Internal Server Error
          type: string
        data:
          example: "[]"
          items: {}
          type: array
      type: object
    BRANDS_RESPONSE:
      example:
        data:
        - brandNm: Got It_Multi
          serviceGuide: ""
          stores:
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          brandId: 46
          description: <p>Applicable in Ho Chi Minh City.<br>Not applicable for Super
            Tuesday – Discount 30% for all menu promotion.</p>
          shortDesc: ""
          brandLogo: https://img-stg.gotit.vn/compress/brand/1687315597_GKMl1.png
          usageMethods:
          - phone_2: ""
            phone_1: ""
            link: ""
            description: GotIt
            type: AT_STORE
            title: GotIt
            order: 1
          - phone_2: ""
            phone_1: ""
            link: ""
            description: GotIt
            type: AT_STORE
            title: GotIt
            order: 1
          slug: got-it
          categoryID: "[1,2,3,7,8,9,10]"
          order: 0
        - brandNm: Got It_Multi
          serviceGuide: ""
          stores:
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          brandId: 46
          description: <p>Applicable in Ho Chi Minh City.<br>Not applicable for Super
            Tuesday – Discount 30% for all menu promotion.</p>
          shortDesc: ""
          brandLogo: https://img-stg.gotit.vn/compress/brand/1687315597_GKMl1.png
          usageMethods:
          - phone_2: ""
            phone_1: ""
            link: ""
            description: GotIt
            type: AT_STORE
            title: GotIt
            order: 1
          - phone_2: ""
            phone_1: ""
            link: ""
            description: GotIt
            type: AT_STORE
            title: GotIt
            order: 1
          slug: got-it
          categoryID: "[1,2,3,7,8,9,10]"
          order: 0
        error: ""
        message: ""
        status: OK
        statusCode: 200
      properties:
        status:
          description: HTTP response status
          example: OK
          type: string
        statusCode:
          description: HTTP response status codes
          example: 200
          type: integer
        error:
          description: Error code
          example: ""
          type: string
        message:
          description: Message Error
          example: ""
          type: string
        data:
          items:
            $ref: '#/components/schemas/BRANDS_DETAIL'
          type: array
      type: object
    CATEGORIES_RESPONSE:
      example:
        data:
        - categoryNm: Mỹ Phẩm và Làm Đẹp
          categoryImg: https://img.gotit.vn/category/my-pham-va-lam-dep.png
          categoryId: 3
          slug: fashion-cosmetic
          order: 1
        - categoryNm: Mỹ Phẩm và Làm Đẹp
          categoryImg: https://img.gotit.vn/category/my-pham-va-lam-dep.png
          categoryId: 3
          slug: fashion-cosmetic
          order: 1
        error: ""
        message: ""
        status: OK
        statusCode: 200
      properties:
        status:
          description: HTTP response status
          example: OK
          type: string
        statusCode:
          description: HTTP response status codes
          example: 200
          type: integer
        error:
          description: Error code
          example: ""
          type: string
        message:
          description: Message Error
          example: ""
          type: string
        data:
          items:
            $ref: '#/components/schemas/CATEGORIES_DETAIL'
          type: array
      type: object
    BRAND_DETAIL_RESPONSE:
      example:
        data:
        - brandAddr: "Lầu 6, Tòa nhà Khải Hoàn, 83B Hoàng Sa, P.Đakao, Q.1, TPHCM"
          brandNm: Got It_Multi
          serviceGuide: serviceGuide
          stores:
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          brandId: 46
          description: <p>Applicable in Ho Chi Minh City.<br>Not applicable for Super
            Tuesday – Discount 30% for all menu promotion.</p>
          shortDesc: ""
          brandLogo: https://img-stg.gotit.vn/compress/brand/1687315597_GKMl1.png
          usageMethods:
          - phone_2: ""
            phone_1: ""
            link: ""
            description: GotIt
            type: AT_STORE
            title: GotIt
            order: 1
          - phone_2: ""
            phone_1: ""
            link: ""
            description: GotIt
            type: AT_STORE
            title: GotIt
            order: 1
          slug: got-it
          categoryID: "[1,2,3,7,8,9,10]"
          order: 0
        - brandAddr: "Lầu 6, Tòa nhà Khải Hoàn, 83B Hoàng Sa, P.Đakao, Q.1, TPHCM"
          brandNm: Got It_Multi
          serviceGuide: serviceGuide
          stores:
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          brandId: 46
          description: <p>Applicable in Ho Chi Minh City.<br>Not applicable for Super
            Tuesday – Discount 30% for all menu promotion.</p>
          shortDesc: ""
          brandLogo: https://img-stg.gotit.vn/compress/brand/1687315597_GKMl1.png
          usageMethods:
          - phone_2: ""
            phone_1: ""
            link: ""
            description: GotIt
            type: AT_STORE
            title: GotIt
            order: 1
          - phone_2: ""
            phone_1: ""
            link: ""
            description: GotIt
            type: AT_STORE
            title: GotIt
            order: 1
          slug: got-it
          categoryID: "[1,2,3,7,8,9,10]"
          order: 0
        error: ""
        message: ""
        status: OK
        statusCode: 200
      properties:
        status:
          description: HTTP response status
          example: OK
          type: string
        statusCode:
          description: HTTP response status codes
          example: 200
          type: integer
        error:
          description: Error code
          example: ""
          type: string
        message:
          description: Message Error
          example: ""
          type: string
        data:
          items:
            $ref: '#/components/schemas/BRAND_DETAIL'
          type: array
      type: object
    BRAND_CATEGORY_DETAIL_RESPONSE:
      properties:
        status:
          description: HTTP response status
          example: OK
          type: string
        statusCode:
          description: HTTP response status codes
          example: 200
          type: integer
        error:
          description: Error code
          example: ""
          type: string
        message:
          description: Message Error
          example: ""
          type: string
        data:
          items:
            $ref: '#/components/schemas/BRAND_CATEGORY_DETAIL'
          type: array
      type: object
    PRODUCTS_RESPONSE:
      example:
        data:
        - pagination:
            totalPage: 1
            pageSize: 1
            page: 1
          productList:
          - productNm: Thẻ Quà Tặng
            productId: 2782
            brandServiceGuide: "<ul>\\n\\t<li>Sử dụng tương đương tiền mặt. Bạn có\
              \ thể thanh toán thêm phần chênh lệch (nếu có)</li>\\n\\t<li>Dùng thanh\
              \ toán tại cửa hàng hoặc mua hàng qua web/app/hotline, tùy từng thươ\
              ng hiệu</li>\\n\\t<li>Có thể áp dụng nhiều thẻ quà tặng cho một lần\
              \ thanh toán tại hầu hết thương hiệu liên kết</li>\\n\\t<li>Mỗi thẻ\
              \ quà tặng có quy định thời hạn sử dụng nhất định</li>\\n</ul>"
            productImg: https://img-stg.gotit.vn/compress/580x580/2023/06/1686628941_SakZB.png
            link: https://v-stg.gotit.vn/got-it-da-nang/got-it-multi/the-qua-tang-da-nang-1408.html
            storeList:
            - storeNm: anh16
              storeAddr: address_vi
              dist_id: 49
              phone: (076)2479266
              city: Hà Nội
              district: Sóc Sơn
              storeId: 3002
              lat: 0
              long: 0
              city_id: 2
            - storeNm: anh16
              storeAddr: address_vi
              dist_id: 49
              phone: (076)2479266
              city: Hà Nội
              district: Sóc Sơn
              storeId: 3002
              lat: 0
              long: 0
              city_id: 2
            categoryImg: https://img.gotit.vn/category/got-it-da-nang.png
            productShortDesc: ""
            productDesc: ""
            brandNm: Got It_Multi
            terms: "<p>- Phiếu qu&agrave; tặng điện tử được cung cấp bởi Got It.</p>\\\
              r\\n\\r\\n<p>- Một ho&aacute; đơn c&oacute; thể sử dụng nhiều Phiếu\
              \ qu&agrave; tặng, mỗi Phiếu qu&agrave; tặng c&oacute; gi&aacute; trị\
              \ sử dụng 01 lần theo thời hạn quy định.</p>\\r\\n\\r\\n<p>- Vui l&ograve;ng\
              \ xuất tr&igrave;nh Phiếu qu&agrave; tặng trước khi thực hiện thanh\
              \ to&aacute;n.</p>\\r\\n\\r\\n<p>- Phiếu qu&agrave; tặng c&oacute; thể\
              \ &aacute;p dụng cho c&aacute;c sản phẩm hoặc dịch vụ kh&aacute;c c&ugrave;ng\
              \ gi&aacute; trị khi sản phẩm/dịch vụ tr&ecirc;n Phiếu qu&agrave; tặ\
              ng đ&atilde; hết h&agrave;ng.</p>\\r\\n\\r\\n<p>- Phiếu qu&agrave; tặ\
              ng kh&ocirc;ng c&oacute; gi&aacute; trị quy đổi th&agrave;nh tiền mặ\
              t hoặc ho&agrave;n lại tiền hoặc b&aacute;n lại. Kh&aacute;ch h&agrave;ng\
              \ sẽ trả th&ecirc;m tiền nếu sử dụng qu&aacute; gi&aacute; trị Phiế\
              u qu&agrave; tặng.</p>\\r\\n\\r\\n<p>- Kh&aacute;ch h&agrave;ng tự bả\
              o mật th&ocirc;ng tin m&atilde; qu&agrave; tặng sau khi mua.</p>\\r\\\
              n\\r\\n<p>- M&atilde; qu&agrave; tặng sẽ kh&ocirc;ng được ho&agrave;n\
              \ lại khi bị mất hoặc Đ&atilde; sử dụng.</p>\\r\\n\\r\\n<p>- Kh&aacute;ch\
              \ h&agrave;ng vui l&ograve;ng li&ecirc;n hệ với nh&agrave; cung cấp\
              \ khi c&oacute; thắc mắc hoặc khiếu nại li&ecirc;n quan đến chất lượ\
              ng của sản phẩm/dịch vụ theo hotline 1900558820 hoặc support@gotit.vn.</p>\\\
              r\\n"
            totalStore: 1
            brandId: 46
            categoryNm: Got It Đa Năng
            storePagination:
              totalPage: 1
              pageSize: 1
              page: 1
            prices:
            - priceNm: "1"
              priceValue: 735000
              priceId: 12258
            - priceNm: "1"
              priceValue: 735000
              priceId: 12258
            brandLogo: https://img-stg.gotit.vn/compress/brand/1687315597_GKMl1.png
            categoryId: 10
            productType: c
          - productNm: Thẻ Quà Tặng
            productId: 2782
            brandServiceGuide: "<ul>\\n\\t<li>Sử dụng tương đương tiền mặt. Bạn có\
              \ thể thanh toán thêm phần chênh lệch (nếu có)</li>\\n\\t<li>Dùng thanh\
              \ toán tại cửa hàng hoặc mua hàng qua web/app/hotline, tùy từng thươ\
              ng hiệu</li>\\n\\t<li>Có thể áp dụng nhiều thẻ quà tặng cho một lần\
              \ thanh toán tại hầu hết thương hiệu liên kết</li>\\n\\t<li>Mỗi thẻ\
              \ quà tặng có quy định thời hạn sử dụng nhất định</li>\\n</ul>"
            productImg: https://img-stg.gotit.vn/compress/580x580/2023/06/1686628941_SakZB.png
            link: https://v-stg.gotit.vn/got-it-da-nang/got-it-multi/the-qua-tang-da-nang-1408.html
            storeList:
            - storeNm: anh16
              storeAddr: address_vi
              dist_id: 49
              phone: (076)2479266
              city: Hà Nội
              district: Sóc Sơn
              storeId: 3002
              lat: 0
              long: 0
              city_id: 2
            - storeNm: anh16
              storeAddr: address_vi
              dist_id: 49
              phone: (076)2479266
              city: Hà Nội
              district: Sóc Sơn
              storeId: 3002
              lat: 0
              long: 0
              city_id: 2
            categoryImg: https://img.gotit.vn/category/got-it-da-nang.png
            productShortDesc: ""
            productDesc: ""
            brandNm: Got It_Multi
            terms: "<p>- Phiếu qu&agrave; tặng điện tử được cung cấp bởi Got It.</p>\\\
              r\\n\\r\\n<p>- Một ho&aacute; đơn c&oacute; thể sử dụng nhiều Phiếu\
              \ qu&agrave; tặng, mỗi Phiếu qu&agrave; tặng c&oacute; gi&aacute; trị\
              \ sử dụng 01 lần theo thời hạn quy định.</p>\\r\\n\\r\\n<p>- Vui l&ograve;ng\
              \ xuất tr&igrave;nh Phiếu qu&agrave; tặng trước khi thực hiện thanh\
              \ to&aacute;n.</p>\\r\\n\\r\\n<p>- Phiếu qu&agrave; tặng c&oacute; thể\
              \ &aacute;p dụng cho c&aacute;c sản phẩm hoặc dịch vụ kh&aacute;c c&ugrave;ng\
              \ gi&aacute; trị khi sản phẩm/dịch vụ tr&ecirc;n Phiếu qu&agrave; tặ\
              ng đ&atilde; hết h&agrave;ng.</p>\\r\\n\\r\\n<p>- Phiếu qu&agrave; tặ\
              ng kh&ocirc;ng c&oacute; gi&aacute; trị quy đổi th&agrave;nh tiền mặ\
              t hoặc ho&agrave;n lại tiền hoặc b&aacute;n lại. Kh&aacute;ch h&agrave;ng\
              \ sẽ trả th&ecirc;m tiền nếu sử dụng qu&aacute; gi&aacute; trị Phiế\
              u qu&agrave; tặng.</p>\\r\\n\\r\\n<p>- Kh&aacute;ch h&agrave;ng tự bả\
              o mật th&ocirc;ng tin m&atilde; qu&agrave; tặng sau khi mua.</p>\\r\\\
              n\\r\\n<p>- M&atilde; qu&agrave; tặng sẽ kh&ocirc;ng được ho&agrave;n\
              \ lại khi bị mất hoặc Đ&atilde; sử dụng.</p>\\r\\n\\r\\n<p>- Kh&aacute;ch\
              \ h&agrave;ng vui l&ograve;ng li&ecirc;n hệ với nh&agrave; cung cấp\
              \ khi c&oacute; thắc mắc hoặc khiếu nại li&ecirc;n quan đến chất lượ\
              ng của sản phẩm/dịch vụ theo hotline 1900558820 hoặc support@gotit.vn.</p>\\\
              r\\n"
            totalStore: 1
            brandId: 46
            categoryNm: Got It Đa Năng
            storePagination:
              totalPage: 1
              pageSize: 1
              page: 1
            prices:
            - priceNm: "1"
              priceValue: 735000
              priceId: 12258
            - priceNm: "1"
              priceValue: 735000
              priceId: 12258
            brandLogo: https://img-stg.gotit.vn/compress/brand/1687315597_GKMl1.png
            categoryId: 10
            productType: c
        - pagination:
            totalPage: 1
            pageSize: 1
            page: 1
          productList:
          - productNm: Thẻ Quà Tặng
            productId: 2782
            brandServiceGuide: "<ul>\\n\\t<li>Sử dụng tương đương tiền mặt. Bạn có\
              \ thể thanh toán thêm phần chênh lệch (nếu có)</li>\\n\\t<li>Dùng thanh\
              \ toán tại cửa hàng hoặc mua hàng qua web/app/hotline, tùy từng thươ\
              ng hiệu</li>\\n\\t<li>Có thể áp dụng nhiều thẻ quà tặng cho một lần\
              \ thanh toán tại hầu hết thương hiệu liên kết</li>\\n\\t<li>Mỗi thẻ\
              \ quà tặng có quy định thời hạn sử dụng nhất định</li>\\n</ul>"
            productImg: https://img-stg.gotit.vn/compress/580x580/2023/06/1686628941_SakZB.png
            link: https://v-stg.gotit.vn/got-it-da-nang/got-it-multi/the-qua-tang-da-nang-1408.html
            storeList:
            - storeNm: anh16
              storeAddr: address_vi
              dist_id: 49
              phone: (076)2479266
              city: Hà Nội
              district: Sóc Sơn
              storeId: 3002
              lat: 0
              long: 0
              city_id: 2
            - storeNm: anh16
              storeAddr: address_vi
              dist_id: 49
              phone: (076)2479266
              city: Hà Nội
              district: Sóc Sơn
              storeId: 3002
              lat: 0
              long: 0
              city_id: 2
            categoryImg: https://img.gotit.vn/category/got-it-da-nang.png
            productShortDesc: ""
            productDesc: ""
            brandNm: Got It_Multi
            terms: "<p>- Phiếu qu&agrave; tặng điện tử được cung cấp bởi Got It.</p>\\\
              r\\n\\r\\n<p>- Một ho&aacute; đơn c&oacute; thể sử dụng nhiều Phiếu\
              \ qu&agrave; tặng, mỗi Phiếu qu&agrave; tặng c&oacute; gi&aacute; trị\
              \ sử dụng 01 lần theo thời hạn quy định.</p>\\r\\n\\r\\n<p>- Vui l&ograve;ng\
              \ xuất tr&igrave;nh Phiếu qu&agrave; tặng trước khi thực hiện thanh\
              \ to&aacute;n.</p>\\r\\n\\r\\n<p>- Phiếu qu&agrave; tặng c&oacute; thể\
              \ &aacute;p dụng cho c&aacute;c sản phẩm hoặc dịch vụ kh&aacute;c c&ugrave;ng\
              \ gi&aacute; trị khi sản phẩm/dịch vụ tr&ecirc;n Phiếu qu&agrave; tặ\
              ng đ&atilde; hết h&agrave;ng.</p>\\r\\n\\r\\n<p>- Phiếu qu&agrave; tặ\
              ng kh&ocirc;ng c&oacute; gi&aacute; trị quy đổi th&agrave;nh tiền mặ\
              t hoặc ho&agrave;n lại tiền hoặc b&aacute;n lại. Kh&aacute;ch h&agrave;ng\
              \ sẽ trả th&ecirc;m tiền nếu sử dụng qu&aacute; gi&aacute; trị Phiế\
              u qu&agrave; tặng.</p>\\r\\n\\r\\n<p>- Kh&aacute;ch h&agrave;ng tự bả\
              o mật th&ocirc;ng tin m&atilde; qu&agrave; tặng sau khi mua.</p>\\r\\\
              n\\r\\n<p>- M&atilde; qu&agrave; tặng sẽ kh&ocirc;ng được ho&agrave;n\
              \ lại khi bị mất hoặc Đ&atilde; sử dụng.</p>\\r\\n\\r\\n<p>- Kh&aacute;ch\
              \ h&agrave;ng vui l&ograve;ng li&ecirc;n hệ với nh&agrave; cung cấp\
              \ khi c&oacute; thắc mắc hoặc khiếu nại li&ecirc;n quan đến chất lượ\
              ng của sản phẩm/dịch vụ theo hotline 1900558820 hoặc support@gotit.vn.</p>\\\
              r\\n"
            totalStore: 1
            brandId: 46
            categoryNm: Got It Đa Năng
            storePagination:
              totalPage: 1
              pageSize: 1
              page: 1
            prices:
            - priceNm: "1"
              priceValue: 735000
              priceId: 12258
            - priceNm: "1"
              priceValue: 735000
              priceId: 12258
            brandLogo: https://img-stg.gotit.vn/compress/brand/1687315597_GKMl1.png
            categoryId: 10
            productType: c
          - productNm: Thẻ Quà Tặng
            productId: 2782
            brandServiceGuide: "<ul>\\n\\t<li>Sử dụng tương đương tiền mặt. Bạn có\
              \ thể thanh toán thêm phần chênh lệch (nếu có)</li>\\n\\t<li>Dùng thanh\
              \ toán tại cửa hàng hoặc mua hàng qua web/app/hotline, tùy từng thươ\
              ng hiệu</li>\\n\\t<li>Có thể áp dụng nhiều thẻ quà tặng cho một lần\
              \ thanh toán tại hầu hết thương hiệu liên kết</li>\\n\\t<li>Mỗi thẻ\
              \ quà tặng có quy định thời hạn sử dụng nhất định</li>\\n</ul>"
            productImg: https://img-stg.gotit.vn/compress/580x580/2023/06/1686628941_SakZB.png
            link: https://v-stg.gotit.vn/got-it-da-nang/got-it-multi/the-qua-tang-da-nang-1408.html
            storeList:
            - storeNm: anh16
              storeAddr: address_vi
              dist_id: 49
              phone: (076)2479266
              city: Hà Nội
              district: Sóc Sơn
              storeId: 3002
              lat: 0
              long: 0
              city_id: 2
            - storeNm: anh16
              storeAddr: address_vi
              dist_id: 49
              phone: (076)2479266
              city: Hà Nội
              district: Sóc Sơn
              storeId: 3002
              lat: 0
              long: 0
              city_id: 2
            categoryImg: https://img.gotit.vn/category/got-it-da-nang.png
            productShortDesc: ""
            productDesc: ""
            brandNm: Got It_Multi
            terms: "<p>- Phiếu qu&agrave; tặng điện tử được cung cấp bởi Got It.</p>\\\
              r\\n\\r\\n<p>- Một ho&aacute; đơn c&oacute; thể sử dụng nhiều Phiếu\
              \ qu&agrave; tặng, mỗi Phiếu qu&agrave; tặng c&oacute; gi&aacute; trị\
              \ sử dụng 01 lần theo thời hạn quy định.</p>\\r\\n\\r\\n<p>- Vui l&ograve;ng\
              \ xuất tr&igrave;nh Phiếu qu&agrave; tặng trước khi thực hiện thanh\
              \ to&aacute;n.</p>\\r\\n\\r\\n<p>- Phiếu qu&agrave; tặng c&oacute; thể\
              \ &aacute;p dụng cho c&aacute;c sản phẩm hoặc dịch vụ kh&aacute;c c&ugrave;ng\
              \ gi&aacute; trị khi sản phẩm/dịch vụ tr&ecirc;n Phiếu qu&agrave; tặ\
              ng đ&atilde; hết h&agrave;ng.</p>\\r\\n\\r\\n<p>- Phiếu qu&agrave; tặ\
              ng kh&ocirc;ng c&oacute; gi&aacute; trị quy đổi th&agrave;nh tiền mặ\
              t hoặc ho&agrave;n lại tiền hoặc b&aacute;n lại. Kh&aacute;ch h&agrave;ng\
              \ sẽ trả th&ecirc;m tiền nếu sử dụng qu&aacute; gi&aacute; trị Phiế\
              u qu&agrave; tặng.</p>\\r\\n\\r\\n<p>- Kh&aacute;ch h&agrave;ng tự bả\
              o mật th&ocirc;ng tin m&atilde; qu&agrave; tặng sau khi mua.</p>\\r\\\
              n\\r\\n<p>- M&atilde; qu&agrave; tặng sẽ kh&ocirc;ng được ho&agrave;n\
              \ lại khi bị mất hoặc Đ&atilde; sử dụng.</p>\\r\\n\\r\\n<p>- Kh&aacute;ch\
              \ h&agrave;ng vui l&ograve;ng li&ecirc;n hệ với nh&agrave; cung cấp\
              \ khi c&oacute; thắc mắc hoặc khiếu nại li&ecirc;n quan đến chất lượ\
              ng của sản phẩm/dịch vụ theo hotline 1900558820 hoặc support@gotit.vn.</p>\\\
              r\\n"
            totalStore: 1
            brandId: 46
            categoryNm: Got It Đa Năng
            storePagination:
              totalPage: 1
              pageSize: 1
              page: 1
            prices:
            - priceNm: "1"
              priceValue: 735000
              priceId: 12258
            - priceNm: "1"
              priceValue: 735000
              priceId: 12258
            brandLogo: https://img-stg.gotit.vn/compress/brand/1687315597_GKMl1.png
            categoryId: 10
            productType: c
        error: ""
        message: ""
        status: OK
        statusCode: 200
      properties:
        status:
          description: HTTP response status
          example: OK
          type: string
        statusCode:
          description: HTTP response status codes
          example: 200
          type: integer
        error:
          description: Error code
          example: ""
          type: string
        message:
          description: Message Error
          example: ""
          type: string
        data:
          items:
            $ref: '#/components/schemas/PRODUCTS_RESPONSE_data_inner'
          type: array
      type: object
    STORES_RESPONSE:
      example:
        data:
        - storeList:
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
        - storeList:
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
        error: ""
        message: ""
        status: OK
        statusCode: 200
      properties:
        status:
          description: HTTP response status
          example: OK
          type: string
        statusCode:
          description: HTTP response status codes
          example: 200
          type: integer
        error:
          description: Error code
          example: ""
          type: string
        message:
          description: Message Error
          example: ""
          type: string
        data:
          items:
            $ref: '#/components/schemas/STORES_RESPONSE_data_inner'
          type: array
      type: object
    PRODUCT_DETAIL_RESPONSE:
      example:
        data:
        - productNm: Thẻ Quà Tặng
          productSubImg: "[https://img-stg.gotit.vn/compress/580x580/2023/06/1686628941_SakZB.png]"
          link: https://v-stg.gotit.vn/phong-cach-song/got-it-multi/the-qua-tang-1541.html
          brandRedeem:
          - brandName: SUPERBOWL
            brandDesc: SUPERBOWL
            brandPhone: (+848) 3848 8888
            brandID: 1
            brandAddress: "A43 Trường Sơn, Phường 4 , Tân Bình, TP.HCM"
            brandServiceGuide: <p>test service guide</p>
            brandNameSlug: superbowl
            categoryNm: Nhà Hàng
            brandLogo: https://img-stg.gotit.vn/compress/brand/1444997889_MP91v.png
            categoryImg: https://img.gotit.vn/category/nha-hang.png
            categoryId: 1
          - brandName: SUPERBOWL
            brandDesc: SUPERBOWL
            brandPhone: (+848) 3848 8888
            brandID: 1
            brandAddress: "A43 Trường Sơn, Phường 4 , Tân Bình, TP.HCM"
            brandServiceGuide: <p>test service guide</p>
            brandNameSlug: superbowl
            categoryNm: Nhà Hàng
            brandLogo: https://img-stg.gotit.vn/compress/brand/1444997889_MP91v.png
            categoryImg: https://img.gotit.vn/category/nha-hang.png
            categoryId: 1
          storeList:
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          categoryImg: https://img.gotit.vn/category/Lifestyle.png
          brandNm: Got It_Multi
          terms: "<p>- Phiếu qu&agrave; tặng điện tử được cung cấp bởi Got It!</p><p>-\
            \ Một ho&aacute; đơn c&oacute; thể sử dụng nhiều Phiếu qu&agrave; tặng,\
            \ mỗi Phiếu qu&agrave; tặng c&oacute; gi&aacute; trị sử dụng 01 lần theo\
            \ thời hạn quy định.</p>"
          categoryNm: Phong Cách Sống
          prices:
          - priceNm: "1"
            priceValue: 735000
            priceId: 12258
          - priceNm: "1"
            priceValue: 735000
            priceId: 12258
          brandLogo: https://img-stg.gotit.vn/compress/brand/1687315597_GKMl1.png
          productType: c
          nameSlug: Got It eGift
          serviceGuide: <p>- &Aacute;p dụng tại c&aacute;c thương hiệu đối t&aacute;c
            của Got It v&agrave; nạp tiền điện thoại. Vui l&ograve;ng xem chi tiết
            danh s&aacute;ch thương hiệu v&agrave; địa chỉ b&ecirc;n dưới.</p>\r\n
          productId: 2782
          brandServiceGuide: "<ul>\\n\\t<li>Sử dụng tương đương tiền mặt. Bạn có thể\
            \ thanh toán thêm phần chênh lệch (nếu có)</li>\\n\\t<li>Dùng thanh toá\
            n tại cửa hàng hoặc mua hàng qua web/app/hotline, tùy từng thương hiệ\
            u</li>\\n\\t<li>Có thể áp dụng nhiều thẻ quà tặng cho một lần thanh toá\
            n tại hầu hết thương hiệu liên kết</li>\\n\\t<li>Mỗi thẻ quà tặng có quy\
            \ định thời hạn sử dụng nhất định</li>\\n</ul>"
          productImg: https://img-stg.gotit.vn/compress/580x580/2023/06/1686628941_SakZB.png
          productShortDesc: <p>Thật nhanh ch&oacute;ng v&agrave; dễ d&agrave;ng để
            gửi tặng những m&oacute;n qu&agrave; s&agrave;nh điệu với Qu&agrave; Tặng
            Got It Đặc Biệt.</p>
          productDesc: <p>Qu&agrave; Tặng Got It được sử dụng dễ d&agrave;ng tại c&aacute;c
            cửa h&agrave;ng thuộc hệ thống đối t&aacute;c của Got It.&nbsp;</p>
          brandDesc: <p>Applicable in Ho Chi Minh City.<br>Not applicable for Super
            Tuesday – Discount 30% for all menu promotion.</p>
          brandPhone: (+848) 3622 1022
          brandId: 46
          brandAddress: "Lầu 6, Tòa nhà Khải Hoàn, 83B Hoàng Sa, P.Đakao, Q.1, TPHCM"
          brandNameSlug: got-it
          categoryId: 8
        - productNm: Thẻ Quà Tặng
          productSubImg: "[https://img-stg.gotit.vn/compress/580x580/2023/06/1686628941_SakZB.png]"
          link: https://v-stg.gotit.vn/phong-cach-song/got-it-multi/the-qua-tang-1541.html
          brandRedeem:
          - brandName: SUPERBOWL
            brandDesc: SUPERBOWL
            brandPhone: (+848) 3848 8888
            brandID: 1
            brandAddress: "A43 Trường Sơn, Phường 4 , Tân Bình, TP.HCM"
            brandServiceGuide: <p>test service guide</p>
            brandNameSlug: superbowl
            categoryNm: Nhà Hàng
            brandLogo: https://img-stg.gotit.vn/compress/brand/1444997889_MP91v.png
            categoryImg: https://img.gotit.vn/category/nha-hang.png
            categoryId: 1
          - brandName: SUPERBOWL
            brandDesc: SUPERBOWL
            brandPhone: (+848) 3848 8888
            brandID: 1
            brandAddress: "A43 Trường Sơn, Phường 4 , Tân Bình, TP.HCM"
            brandServiceGuide: <p>test service guide</p>
            brandNameSlug: superbowl
            categoryNm: Nhà Hàng
            brandLogo: https://img-stg.gotit.vn/compress/brand/1444997889_MP91v.png
            categoryImg: https://img.gotit.vn/category/nha-hang.png
            categoryId: 1
          storeList:
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          - storeNm: anh16
            storeAddr: address_vi
            brandNm: Got It_Multi
            districtId: 49
            districtNm: Sóc Sơn
            cityNm: Hà Nội
            storeEm: "null"
            storePh: "null"
            cityId: 2
            storeId: 3002
            lat: 0
            long: 0
          categoryImg: https://img.gotit.vn/category/Lifestyle.png
          brandNm: Got It_Multi
          terms: "<p>- Phiếu qu&agrave; tặng điện tử được cung cấp bởi Got It!</p><p>-\
            \ Một ho&aacute; đơn c&oacute; thể sử dụng nhiều Phiếu qu&agrave; tặng,\
            \ mỗi Phiếu qu&agrave; tặng c&oacute; gi&aacute; trị sử dụng 01 lần theo\
            \ thời hạn quy định.</p>"
          categoryNm: Phong Cách Sống
          prices:
          - priceNm: "1"
            priceValue: 735000
            priceId: 12258
          - priceNm: "1"
            priceValue: 735000
            priceId: 12258
          brandLogo: https://img-stg.gotit.vn/compress/brand/1687315597_GKMl1.png
          productType: c
          nameSlug: Got It eGift
          serviceGuide: <p>- &Aacute;p dụng tại c&aacute;c thương hiệu đối t&aacute;c
            của Got It v&agrave; nạp tiền điện thoại. Vui l&ograve;ng xem chi tiết
            danh s&aacute;ch thương hiệu v&agrave; địa chỉ b&ecirc;n dưới.</p>\r\n
          productId: 2782
          brandServiceGuide: "<ul>\\n\\t<li>Sử dụng tương đương tiền mặt. Bạn có thể\
            \ thanh toán thêm phần chênh lệch (nếu có)</li>\\n\\t<li>Dùng thanh toá\
            n tại cửa hàng hoặc mua hàng qua web/app/hotline, tùy từng thương hiệ\
            u</li>\\n\\t<li>Có thể áp dụng nhiều thẻ quà tặng cho một lần thanh toá\
            n tại hầu hết thương hiệu liên kết</li>\\n\\t<li>Mỗi thẻ quà tặng có quy\
            \ định thời hạn sử dụng nhất định</li>\\n</ul>"
          productImg: https://img-stg.gotit.vn/compress/580x580/2023/06/1686628941_SakZB.png
          productShortDesc: <p>Thật nhanh ch&oacute;ng v&agrave; dễ d&agrave;ng để
            gửi tặng những m&oacute;n qu&agrave; s&agrave;nh điệu với Qu&agrave; Tặng
            Got It Đặc Biệt.</p>
          productDesc: <p>Qu&agrave; Tặng Got It được sử dụng dễ d&agrave;ng tại c&aacute;c
            cửa h&agrave;ng thuộc hệ thống đối t&aacute;c của Got It.&nbsp;</p>
          brandDesc: <p>Applicable in Ho Chi Minh City.<br>Not applicable for Super
            Tuesday – Discount 30% for all menu promotion.</p>
          brandPhone: (+848) 3622 1022
          brandId: 46
          brandAddress: "Lầu 6, Tòa nhà Khải Hoàn, 83B Hoàng Sa, P.Đakao, Q.1, TPHCM"
          brandNameSlug: got-it
          categoryId: 8
        error: ""
        message: ""
        status: OK
        statusCode: 200
      properties:
        status:
          description: HTTP response status
          example: OK
          type: string
        statusCode:
          description: HTTP response status codes
          example: 200
          type: integer
        error:
          description: Error code
          example: ""
          type: string
        message:
          description: Message Error
          example: ""
          type: string
        data:
          items:
            $ref: '#/components/schemas/PRODUCT_DETAIL'
          type: array
      type: object
    VOUCHER_CHECK_RESPONSE:
      example:
        data:
        - transactionRefId: voucher_0711_102
          vouchers:
          - voucherLink: https://v-stg.gotit.vn/b51r4XtA
            product:
              productNm: Thẻ Quà Tặng
              productDesc: ""
              brandNm: Got It_Multi
              productId: 1541
              terms: "<p>- Phiếu qu&agrave; tặng điện tử được cung cấp bởi Got It.</p>\\\
                r\\n\\r\\n<p>- Một ho&aacute; đơn c&oacute; thể sử dụng nhiều Phiế\
                u qu&agrave; tặng, mỗi Phiếu qu&agrave; tặng c&oacute; gi&aacute;\
                \ trị sử dụng 01 lần theo thời hạn quy định.</p>\\r\\n\\r\\n<p>- Vui\
                \ l&ograve;ng xuất tr&igrave;nh Phiếu qu&agrave; tặng trước khi thự\
                c hiện thanh to&aacute;n.</p>\\r\\n\\r\\n<p>- Phiếu qu&agrave; tặ\
                ng c&oacute; thể &aacute;p dụng cho c&aacute;c sản phẩm hoặc dịch\
                \ vụ kh&aacute;c c&ugrave;ng gi&aacute; trị khi sản phẩm/dịch vụ tr&ecirc;n\
                \ Phiếu qu&agrave; tặng đ&atilde; hết h&agrave;ng.</p>\\r\\n\\r\\\
                n<p>- Phiếu qu&agrave; tặng kh&ocirc;ng c&oacute; gi&aacute; trị quy\
                \ đổi th&agrave;nh tiền mặt hoặc ho&agrave;n lại tiền hoặc b&aacute;n\
                \ lại. Kh&aacute;ch h&agrave;ng sẽ trả th&ecirc;m tiền nếu sử dụng\
                \ qu&aacute; gi&aacute; trị Phiếu qu&agrave; tặng.</p>\\r\\n\\r\\\
                n<p>- Kh&aacute;ch h&agrave;ng tự bảo mật th&ocirc;ng tin m&atilde;\
                \ qu&agrave; tặng sau khi mua.</p>\\r\\n\\r\\n<p>- M&atilde; qu&agrave;\
                \ tặng sẽ kh&ocirc;ng được ho&agrave;n lại khi bị mất hoặc Đ&atilde;\
                \ sử dụng.</p>\\r\\n\\r\\n<p>- Kh&aacute;ch h&agrave;ng vui l&ograve;ng\
                \ li&ecirc;n hệ với nh&agrave; cung cấp khi c&oacute; thắc mắc hoặ\
                c khiếu nại li&ecirc;n quan đến chất lượng của sản phẩm/dịch vụ theo\
                \ hotline 1900558820 hoặc support@gotit.vn.</p>\\r\\n"
              price:
                priceNm: "1"
                priceValue: 735000
                priceId: 12258
              brandId: 46
              brandServiceGuide: "<ul>\\n\\t<li>Sử dụng tương đương tiền mặt. Bạn\
                \ có thể thanh toán thêm phần chênh lệch (nếu có)</li>\\n\\t<li>Dù\
                ng thanh toán tại cửa hàng hoặc mua hàng qua web/app/hotline, tùy\
                \ từng thương hiệu</li>\\n\\t<li>Có thể áp dụng nhiều thẻ quà tặng\
                \ cho một lần thanh toán tại hầu hết thương hiệu liên kết</li>\\n\\\
                t<li>Mỗi thẻ quà tặng có quy định thời hạn sử dụng nhất định</li>\\\
                n</ul>"
              productImg: https://img-stg.gotit.vn/compress/580x580/2023/05/1684485240_oPTbk.png
              link: https://v-stg.gotit.vn/phong-cach-song/got-it-multi/the-qua-tang-1541.html
              storeList:
              - storeNm: anh16
                storeAddr: address_vi
                dist_id: 49
                phone: (076)2479266
                city: Hà Nội
                district: Sóc Sơn
                storeId: 3002
                lat: 0
                long: 0
                city_id: 2
              - storeNm: anh16
                storeAddr: address_vi
                dist_id: 49
                phone: (076)2479266
                city: Hà Nội
                district: Sóc Sơn
                storeId: 3002
                lat: 0
                long: 0
                city_id: 2
              productType: c
            groupCoverLink: https://e-stg.gotit.vn/gLsZaFRN
            used_store:
            - storeNm: anh16
              storeAddr: address_vi
              brandNm: Got It_Multi
              districtId: 49
              districtNm: Sóc Sơn
              cityNm: Hà Nội
              storeEm: "null"
              storePh: "null"
              cityId: 2
              storeId: 3002
              lat: 0
              long: 0
            - storeNm: anh16
              storeAddr: address_vi
              brandNm: Got It_Multi
              districtId: 49
              districtNm: Sóc Sơn
              cityNm: Hà Nội
              storeEm: "null"
              storePh: "null"
              cityId: 2
              storeId: 3002
              lat: 0
              long: 0
            transactionRefId: 1000007_123abc
            voucherSerial: VXU4AKQ1MFN
            voucherLinkCode: b51r4XtA
            groupVoucherSerial: E2V2RML6F52
            groupLink: https://e-stg.gotit.vn/gLsZaFRN
            used_brand: Opened
            expiryDate: 2024-11-15
            voucherCoverLink: ""
            stateText: Opened
            used_time: ""
            stateCode: 3
            voucherCode: "4142468304"
            voucherImageLink: https://v-stg.gotit.vn/save-voucher/vi/eyJpdiI6Ii80QVJaOXNmS0lBUmw3c283SjZ4amc9PSIsInZhbHVlIjoieUZWUmw4REROV2lqV1dJdzFJVit1d290OFE4WXJEZGlNbjB1bDlaRExlYlEvMkJMcmZadTRYRWdZRm1uWDRLbCIsIm1hYyI6IjNiODI1ODhkYjZmMTJhZjUzNjVlNTMwODlhYWRhNjc3NDZkMzE4ZDMxYzA1NmZjNTk1NDZmZWFjNzZjNGM4YjIiLCJ0YWciOiIifQ==
          - voucherLink: https://v-stg.gotit.vn/b51r4XtA
            product:
              productNm: Thẻ Quà Tặng
              productDesc: ""
              brandNm: Got It_Multi
              productId: 1541
              terms: "<p>- Phiếu qu&agrave; tặng điện tử được cung cấp bởi Got It.</p>\\\
                r\\n\\r\\n<p>- Một ho&aacute; đơn c&oacute; thể sử dụng nhiều Phiế\
                u qu&agrave; tặng, mỗi Phiếu qu&agrave; tặng c&oacute; gi&aacute;\
                \ trị sử dụng 01 lần theo thời hạn quy định.</p>\\r\\n\\r\\n<p>- Vui\
                \ l&ograve;ng xuất tr&igrave;nh Phiếu qu&agrave; tặng trước khi thự\
                c hiện thanh to&aacute;n.</p>\\r\\n\\r\\n<p>- Phiếu qu&agrave; tặ\
                ng c&oacute; thể &aacute;p dụng cho c&aacute;c sản phẩm hoặc dịch\
                \ vụ kh&aacute;c c&ugrave;ng gi&aacute; trị khi sản phẩm/dịch vụ tr&ecirc;n\
                \ Phiếu qu&agrave; tặng đ&atilde; hết h&agrave;ng.</p>\\r\\n\\r\\\
                n<p>- Phiếu qu&agrave; tặng kh&ocirc;ng c&oacute; gi&aacute; trị quy\
                \ đổi th&agrave;nh tiền mặt hoặc ho&agrave;n lại tiền hoặc b&aacute;n\
                \ lại. Kh&aacute;ch h&agrave;ng sẽ trả th&ecirc;m tiền nếu sử dụng\
                \ qu&aacute; gi&aacute; trị Phiếu qu&agrave; tặng.</p>\\r\\n\\r\\\
                n<p>- Kh&aacute;ch h&agrave;ng tự bảo mật th&ocirc;ng tin m&atilde;\
                \ qu&agrave; tặng sau khi mua.</p>\\r\\n\\r\\n<p>- M&atilde; qu&agrave;\
                \ tặng sẽ kh&ocirc;ng được ho&agrave;n lại khi bị mất hoặc Đ&atilde;\
                \ sử dụng.</p>\\r\\n\\r\\n<p>- Kh&aacute;ch h&agrave;ng vui l&ograve;ng\
                \ li&ecirc;n hệ với nh&agrave; cung cấp khi c&oacute; thắc mắc hoặ\
                c khiếu nại li&ecirc;n quan đến chất lượng của sản phẩm/dịch vụ theo\
                \ hotline 1900558820 hoặc support@gotit.vn.</p>\\r\\n"
              price:
                priceNm: "1"
                priceValue: 735000
                priceId: 12258
              brandId: 46
              brandServiceGuide: "<ul>\\n\\t<li>Sử dụng tương đương tiền mặt. Bạn\
                \ có thể thanh toán thêm phần chênh lệch (nếu có)</li>\\n\\t<li>Dù\
                ng thanh toán tại cửa hàng hoặc mua hàng qua web/app/hotline, tùy\
                \ từng thương hiệu</li>\\n\\t<li>Có thể áp dụng nhiều thẻ quà tặng\
                \ cho một lần thanh toán tại hầu hết thương hiệu liên kết</li>\\n\\\
                t<li>Mỗi thẻ quà tặng có quy định thời hạn sử dụng nhất định</li>\\\
                n</ul>"
              productImg: https://img-stg.gotit.vn/compress/580x580/2023/05/1684485240_oPTbk.png
              link: https://v-stg.gotit.vn/phong-cach-song/got-it-multi/the-qua-tang-1541.html
              storeList:
              - storeNm: anh16
                storeAddr: address_vi
                dist_id: 49
                phone: (076)2479266
                city: Hà Nội
                district: Sóc Sơn
                storeId: 3002
                lat: 0
                long: 0
                city_id: 2
              - storeNm: anh16
                storeAddr: address_vi
                dist_id: 49
                phone: (076)2479266
                city: Hà Nội
                district: Sóc Sơn
                storeId: 3002
                lat: 0
                long: 0
                city_id: 2
              productType: c
            groupCoverLink: https://e-stg.gotit.vn/gLsZaFRN
            used_store:
            - storeNm: anh16
              storeAddr: address_vi
              brandNm: Got It_Multi
              districtId: 49
              districtNm: Sóc Sơn
              cityNm: Hà Nội
              storeEm: "null"
              storePh: "null"
              cityId: 2
              storeId: 3002
              lat: 0
              long: 0
            - storeNm: anh16
              storeAddr: address_vi
              brandNm: Got It_Multi
              districtId: 49
              districtNm: Sóc Sơn
              cityNm: Hà Nội
              storeEm: "null"
              storePh: "null"
              cityId: 2
              storeId: 3002
              lat: 0
              long: 0
            transactionRefId: 1000007_123abc
            voucherSerial: VXU4AKQ1MFN
            voucherLinkCode: b51r4XtA
            groupVoucherSerial: E2V2RML6F52
            groupLink: https://e-stg.gotit.vn/gLsZaFRN
            used_brand: Opened
            expiryDate: 2024-11-15
            voucherCoverLink: ""
            stateText: Opened
            used_time: ""
            stateCode: 3
            voucherCode: "4142468304"
            voucherImageLink: https://v-stg.gotit.vn/save-voucher/vi/eyJpdiI6Ii80QVJaOXNmS0lBUmw3c283SjZ4amc9PSIsInZhbHVlIjoieUZWUmw4REROV2lqV1dJdzFJVit1d290OFE4WXJEZGlNbjB1bDlaRExlYlEvMkJMcmZadTRYRWdZRm1uWDRLbCIsIm1hYyI6IjNiODI1ODhkYjZmMTJhZjUzNjVlNTMwODlhYWRhNjc3NDZkMzE4ZDMxYzA1NmZjNTk1NDZmZWFjNzZjNGM4YjIiLCJ0YWciOiIifQ==
        - transactionRefId: voucher_0711_102
          vouchers:
          - voucherLink: https://v-stg.gotit.vn/b51r4XtA
            product:
              productNm: Thẻ Quà Tặng
              productDesc: ""
              brandNm: Got It_Multi
              productId: 1541
              terms: "<p>- Phiếu qu&agrave; tặng điện tử được cung cấp bởi Got It.</p>\\\
                r\\n\\r\\n<p>- Một ho&aacute; đơn c&oacute; thể sử dụng nhiều Phiế\
                u qu&agrave; tặng, mỗi Phiếu qu&agrave; tặng c&oacute; gi&aacute;\
                \ trị sử dụng 01 lần theo thời hạn quy định.</p>\\r\\n\\r\\n<p>- Vui\
                \ l&ograve;ng xuất tr&igrave;nh Phiếu qu&agrave; tặng trước khi thự\
                c hiện thanh to&aacute;n.</p>\\r\\n\\r\\n<p>- Phiếu qu&agrave; tặ\
                ng c&oacute; thể &aacute;p dụng cho c&aacute;c sản phẩm hoặc dịch\
                \ vụ kh&aacute;c c&ugrave;ng gi&aacute; trị khi sản phẩm/dịch vụ tr&ecirc;n\
                \ Phiếu qu&agrave; tặng đ&atilde; hết h&agrave;ng.</p>\\r\\n\\r\\\
                n<p>- Phiếu qu&agrave; tặng kh&ocirc;ng c&oacute; gi&aacute; trị quy\
                \ đổi th&agrave;nh tiền mặt hoặc ho&agrave;n lại tiền hoặc b&aacute;n\
                \ lại. Kh&aacute;ch h&agrave;ng sẽ trả th&ecirc;m tiền nếu sử dụng\
                \ qu&aacute; gi&aacute; trị Phiếu qu&agrave; tặng.</p>\\r\\n\\r\\\
                n<p>- Kh&aacute;ch h&agrave;ng tự bảo mật th&ocirc;ng tin m&atilde;\
                \ qu&agrave; tặng sau khi mua.</p>\\r\\n\\r\\n<p>- M&atilde; qu&agrave;\
                \ tặng sẽ kh&ocirc;ng được ho&agrave;n lại khi bị mất hoặc Đ&atilde;\
                \ sử dụng.</p>\\r\\n\\r\\n<p>- Kh&aacute;ch h&agrave;ng vui l&ograve;ng\
                \ li&ecirc;n hệ với nh&agrave; cung cấp khi c&oacute; thắc mắc hoặ\
                c khiếu nại li&ecirc;n quan đến chất lượng của sản phẩm/dịch vụ theo\
                \ hotline 1900558820 hoặc support@gotit.vn.</p>\\r\\n"
              price:
                priceNm: "1"
                priceValue: 735000
                priceId: 12258
              brandId: 46
              brandServiceGuide: "<ul>\\n\\t<li>Sử dụng tương đương tiền mặt. Bạn\
                \ có thể thanh toán thêm phần chênh lệch (nếu có)</li>\\n\\t<li>Dù\
                ng thanh toán tại cửa hàng hoặc mua hàng qua web/app/hotline, tùy\
                \ từng thương hiệu</li>\\n\\t<li>Có thể áp dụng nhiều thẻ quà tặng\
                \ cho một lần thanh toán tại hầu hết thương hiệu liên kết</li>\\n\\\
                t<li>Mỗi thẻ quà tặng có quy định thời hạn sử dụng nhất định</li>\\\
                n</ul>"
              productImg: https://img-stg.gotit.vn/compress/580x580/2023/05/1684485240_oPTbk.png
              link: https://v-stg.gotit.vn/phong-cach-song/got-it-multi/the-qua-tang-1541.html
              storeList:
              - storeNm: anh16
                storeAddr: address_vi
                dist_id: 49
                phone: (076)2479266
                city: Hà Nội
                district: Sóc Sơn
                storeId: 3002
                lat: 0
                long: 0
                city_id: 2
              - storeNm: anh16
                storeAddr: address_vi
                dist_id: 49
                phone: (076)2479266
                city: Hà Nội
                district: Sóc Sơn
                storeId: 3002
                lat: 0
                long: 0
                city_id: 2
              productType: c
            groupCoverLink: https://e-stg.gotit.vn/gLsZaFRN
            used_store:
            - storeNm: anh16
              storeAddr: address_vi
              brandNm: Got It_Multi
              districtId: 49
              districtNm: Sóc Sơn
              cityNm: Hà Nội
              storeEm: "null"
              storePh: "null"
              cityId: 2
              storeId: 3002
              lat: 0
              long: 0
            - storeNm: anh16
              storeAddr: address_vi
              brandNm: Got It_Multi
              districtId: 49
              districtNm: Sóc Sơn
              cityNm: Hà Nội
              storeEm: "null"
              storePh: "null"
              cityId: 2
              storeId: 3002
              lat: 0
              long: 0
            transactionRefId: 1000007_123abc
            voucherSerial: VXU4AKQ1MFN
            voucherLinkCode: b51r4XtA
            groupVoucherSerial: E2V2RML6F52
            groupLink: https://e-stg.gotit.vn/gLsZaFRN
            used_brand: Opened
            expiryDate: 2024-11-15
            voucherCoverLink: ""
            stateText: Opened
            used_time: ""
            stateCode: 3
            voucherCode: "4142468304"
            voucherImageLink: https://v-stg.gotit.vn/save-voucher/vi/eyJpdiI6Ii80QVJaOXNmS0lBUmw3c283SjZ4amc9PSIsInZhbHVlIjoieUZWUmw4REROV2lqV1dJdzFJVit1d290OFE4WXJEZGlNbjB1bDlaRExlYlEvMkJMcmZadTRYRWdZRm1uWDRLbCIsIm1hYyI6IjNiODI1ODhkYjZmMTJhZjUzNjVlNTMwODlhYWRhNjc3NDZkMzE4ZDMxYzA1NmZjNTk1NDZmZWFjNzZjNGM4YjIiLCJ0YWciOiIifQ==
          - voucherLink: https://v-stg.gotit.vn/b51r4XtA
            product:
              productNm: Thẻ Quà Tặng
              productDesc: ""
              brandNm: Got It_Multi
              productId: 1541
              terms: "<p>- Phiếu qu&agrave; tặng điện tử được cung cấp bởi Got It.</p>\\\
                r\\n\\r\\n<p>- Một ho&aacute; đơn c&oacute; thể sử dụng nhiều Phiế\
                u qu&agrave; tặng, mỗi Phiếu qu&agrave; tặng c&oacute; gi&aacute;\
                \ trị sử dụng 01 lần theo thời hạn quy định.</p>\\r\\n\\r\\n<p>- Vui\
                \ l&ograve;ng xuất tr&igrave;nh Phiếu qu&agrave; tặng trước khi thự\
                c hiện thanh to&aacute;n.</p>\\r\\n\\r\\n<p>- Phiếu qu&agrave; tặ\
                ng c&oacute; thể &aacute;p dụng cho c&aacute;c sản phẩm hoặc dịch\
                \ vụ kh&aacute;c c&ugrave;ng gi&aacute; trị khi sản phẩm/dịch vụ tr&ecirc;n\
                \ Phiếu qu&agrave; tặng đ&atilde; hết h&agrave;ng.</p>\\r\\n\\r\\\
                n<p>- Phiếu qu&agrave; tặng kh&ocirc;ng c&oacute; gi&aacute; trị quy\
                \ đổi th&agrave;nh tiền mặt hoặc ho&agrave;n lại tiền hoặc b&aacute;n\
                \ lại. Kh&aacute;ch h&agrave;ng sẽ trả th&ecirc;m tiền nếu sử dụng\
[...]
